/* Font */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Pacifico&family=Tilt+Prism&display=swap');


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background: linear-gradient(to top, #C66E4E, rgb(255, 255, 255));
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #C66E4E;
    text-shadow: 0 4px 7px black;
    text-align: left;
    margin-left: 30px;
}

.layered-title {
    font-size: 80px;
    text-align: center;
    height:100px;
    line-height: 100px;
    color: #ffe9e0;
     font-family: 'Pacifico', cursive;
     margin-top: 0px;
     margin-bottom: 10px;
     text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.789);
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b,
                10px 10px 0px #a3421f,
                15px 15px 0px #728c69;
                20px 20px 0px #7f3601,
                25px 25px 0px #547d67
}

.title-container {
    height: 10px;
}

.nav-container {
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #728c69;


  }

  li {
    display: inline;
   text-align:center;
   justify-content: center;
  }

  li a {
    font-size: 20px;
    color: #C66E4E;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 1px 2px rgb(255, 255, 255);
    margin-top: 15px;
  }


  li a:hover {
    background-color: #767676;
  }

/* HomePage */

.home-container {
  display: flex;
  justify-content: center;

}

.bng-pics {
  display: flex;
  justify-content: center;
}


  .bng-container {
    margin-top: 30px;

}

.bng-container h1 {
  text-align: center;
}


.bride-container h2 {
  font-family: "Gloock", serif;
  color: #C66E4E;
  text-shadow: 2px 1px 2px rgb(255, 255, 255);
  padding: 8px;
  border-radius: 60px;
  margin-right: 10px;
  background-color: #728c69;
}

.bride-container img {
  height: 300px;
  margin-right: 10px;
  border-radius: 250px;
}

/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.img__wrap-bride {
  position: relative;
  width: 225px;
  margin-right: 10px;

}

.img__description-bride {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgba(254, 255, 255, 0.72);
  color: #C66E4E;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  border-radius: 250px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap-bride:hover .img__description-bride {
  visibility: visible;
  opacity: 1;
}

.groom-container h2 {
  font-family: "Gloock", serif;
  color: #C66E4E;
  text-shadow: 2px 1px 2px rgb(255, 255, 255);
  background-color: #728c69;
  padding: 8px;
  border-radius: 60px;
}

.groom-container img {
  height: 300px;
  border-radius: 250px;
}

/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.img__wrap-groom {
  position: relative;
  width: 225px;

}

.img__description-groom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgba(254, 255, 255, 0.72);
  color: #C66E4E;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  border-radius: 250px;
  font-family: "Gloock", serif;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap-groom:hover .img__description-groom {
  visibility: visible;
  opacity: 1;
}

/* divider */
.divider-container img {
  height: 200px;
  margin-top: 10px;
}
